.wrapper button {
  border: none;
  background: none;
  background-color: hsl(var(--color-primary-purple-hsl) / 25%);
  border-radius: 50%;
  height: 48px;
  width: 48px;
  display: grid;
  place-items: center;
  transition: 300ms;
}

.wrapper button:hover {
  cursor: pointer;
  background-color: var(--color-primary-purple);
}

.wrapper button>svg {
  height: 65%;
  width: 65%;
}

.wrapper button>svg>.polygon {
  fill: var(--color-primary-purple);
}

.wrapper button:hover>svg>.polygon {
  fill: var(--color-neutral-white);
}