.wrapper button {
  border: none;
  background: none;
  padding: 0;
  background-color: hsl(var(--color-primary-purple-hsl) / 25%);
  border-radius: 50%;
  height: 48px;
  width: 48px;
  display: grid;
  place-items: center;
}

.wrapper button>svg {
  color: var(--color-primary-purple);
  height: 32px;
  width: 32px;
}

.wrapper button:hover {
  cursor: pointer;
  background-color: var(--color-primary-purple);
}

.wrapper button:hover>svg {
  color: var(--color-neutral-white);
}