.default {
  padding: 12px 24px;
  border: 2px solid transparent;
  background-color: black;
  color: white;
}

.default:hover {
  border: 2px solid black;
  background: white;
  color: black;
  cursor: pointer;
}
