.wrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.wrapper hr {
  height: 1px;
  border: none;
  background: var(--color-neutral-gray-2);
}

.wrapper article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.heading {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.phonetic {
  color: var(--color-primary-purple);
}

.play-button {
  border: none;
  background: none;
  padding: 0;
  background-color: hsl(var(--color-primary-purple-hsl) / 25%);
  border-radius: 50%;
  height: 48px;
  width: 48px;
  display: grid;
  place-items: center;
}

.play-button:hover {
  cursor: pointer;
  background-color: var(--color-primary-purple);
}

.play-button:hover>svg {
  color: var(--color-neutral-white);
}

.meaning {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.meanings-container {
  border-bottom: 1px solid var(--color-neutral-gray-2);
}

.speech-divider {
  display: flex;
  align-items: center;
  gap: 26px;
}

.speech-divider hr {
  flex-grow: 1;
}

.section-heading {
  font-weight: var(--typography-font-weight-regular);
  color: var(--color-neutral-gray-3);
}

.meaning strong {
  font-size: var(--typography-font-size-body-medium);
  font-weight: 700;
}

.meaning em {
  font-style: italic;
}

.meaning-list {
  list-style: none;
  list-style-position: outside;
  text-indent: -18px;
}

.meaning-list ul,
.source-url-list {
  list-style-position: outside;
  list-style-type: none;
  text-align: left;
  padding: 0;
}

.meaning-list li::before {
  content: '\2022';
  color: var(--color-primary-purple);
  width: 1em;
  margin-right: 0.5em;
}

.definition-list-item {
  margin-top: 12px;
  padding-left: 22px;
}

.example {
  color: var(--color-neutral-gray-3);
  margin-left: 20px;
}

.synonyms,
.antonyms {
  color: var(--color-primary-purple);
  font-weight: var(--typography-font-weight-bold);
}

.related-words-container {
  display: flex;
}

.related-words-list {
  margin: 0;
  list-style: none;
}

.related-words-list-item:not(:first-child) {
  margin-left: 16px;
}

.related-words-list-link {
  cursor: pointer;
  color: var(--color-primary-purple);
  text-decoration: none;
  font-weight: bold;
}

.related-words-list-link:hover {
  text-decoration: underline;
}

.source {
  display: flex;
  align-items: baseline;
}

.source-heading {
  color: var(--color-neutral-gray-3);
  font-weight: var(--typography-font-weight-regular);
  font-size: var(--typography-font-size-body-small);
  text-decoration-line: underline;

}

.source-url {
  font-size: var(--typography-font-size-body-small);
  color: var(--color-neutral-gray-3);
}

.source-url-list {
  list-style-type: none;
  padding: 0;
  margin-left: 20px;
  font-size: var(--typography-font-size-body-small);
}

.source-url-list-item {
  display: flex;
  align-items: center;
  gap: 12px;
}

.source-url-list-item:not(:first-child) {
  margin-left: 12px;
}

.source-url-list-item:hover {
  cursor: pointer;
}

.source-url-list-item a {
  color: var(--color-neutral-gray-5);
}

.source-url-list-item a:hover {
  text-decoration: none;
  color: var(--color-primary-purple);
}

.divider {
  height: 1px;
  background-color: var(--color-neutral-gray-2);
}

[data-theme='light'] .wrapper {
  color: var(--color-neutral-off-black);
}

[data-theme='dark'] .wrapper {
  color: var(--color-neutral-white);
}

/* SANS-SERIF STYLES */

[data-font='Sans Serif'] .wrapper {
  font-family: var(--font-family-sans-serif);
}

[data-font='Sans Serif'] .part-of-speech {
  font-family: var(--font-family-sans-serif);
  font-style: italic;
  font-weight: 700;
}

/* SERIF STYLES */

[data-font='Serif'] .wrapper {
  font-family: var(--font-family-serif);
}

[data-font='Serif'] .part-of-speech {
  font-family: var(--font-family-serif);
  font-style: normal;
  font-weight: 400;
}

/* MONOSPACE STYLES */

[data-font='Mono'] .wrapper {
  font-family: var(--font-family-monospace);
}

[data-font='Mono'] .part-of-speech {
  font-family: var(--font-family-monospace);
  font-style: normal;
  font-weight: 700;
}

[data-font='Mono'] .source-heading {
  text-decoration: none;
}