.wrapper {}

.heading {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.phonetic {
    color: var(--color-primary-purple);
}

.play-button {
    background: none;
    border: none;
}

.play-button:hover {
    cursor: pointer;
}

.meaning {
}

.meaning-heading {
    color: var(--color-neutral-gray-3);
}

.meaning strong {
    font-size: var(--typography-font-size-body-medium);
    font-weight: 700;
}

.meaning em {
    font-style: italic;
}

.part-of-speech {
    
}