@use "open-props/animations";
@use './typography.scss';

:root {
  --color-primary-red: hsl(0, 100%, 66%);
  --color-primary-red-hsl: 0, 100%, 66%;
  --color-primary-purple: hsl(274, 82%, 60%);
  --color-primary-purple-hsl: 274, 82%, 60%;
  --color-neutral-white: hsl(0, 0%, 100%);
  --color-neutral-white-hsl: 0, 0%, 100%;
  --color-neutral-off-black: hsl(0, 0%, 2%);
  --color-neutral-off-black-hl: 0, 0%, 2%;
  --color-neutral-gray-1: hsl(0, 0%, 96%);
  --color-neutral-gray-1-hsl: 0, 0%, 96%;
  --color-neutral-gray-2: hsl(0, 0%, 91%);
  --color-neutral-gray-2-hsl: 0, 0%, 91%;
  --color-neutral-gray-3: hsl(0, 0%, 46%);
  --color-neutral-gray-3-hsl: 0, 0%, 46%;
  --color-neutral-gray-4: hsl(0, 0%, 23%);
  --color-neutral-gray-4-hsl: 0, 0%, 23%;
  --color-neutral-gray-5: hsl(0, 0%, 18%);
  --color-neutral-gray-5-hsl: 0, 0%, 18%;
  --color-neutral-gray-6: hsl(0, 0%, 12%);
  --color-neutral-gray-6-hsl: 0, 0%, 12%;
  --typography-font-size-body-small: 14px;
  --typography-line-height-body-small: 17px;
  --typography-font-size-body-medium: 18px;
  --typography-line-height-body-medium: 24px;
  --typography-font-size-heading-small: 20px;
  --typography-line-height-heading-small: 24px;
  --typography-font-size-heading-medium: 24px;
  --typography-line-height-heading-medium: 29px;
  --typography-font-size-heading-large: 64px;
  --typography-line-height-heading-large: 77px;
  --typography-font-weight-regular: 400;
  --typography-font-weight-bold: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

html {
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

html:focus-within {
  scroll-behavior: smooth;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

html {
  min-height: 100vh;
  font-family: var(--font-family-sans-serif);
}