.main {
    --background: white;
    --foreground: black;

    width: 100%;
    height: 100%;
    background: var(--background);
    color: var(--foreground);
}

[data-theme='dark'] .main {
    --background: black;
    --foreground: white;
}