:root {
  --regular: var(--typography-font-weight-regular);
  --bold: var(--typography-font-weight-weight-bold);
}

h1,
.h1 {
  font-size: var(--typography-font-size-heading-large);
  line-height: var(--typography-line-height-heading-large);
}

h2,
.h2 {
  font-size: var(--typography-font-size-heading-medium);
  line-height: var(--typography-line-height-heading-medium);
}

h3,
.h3 {
  font-size: var(--typography-font-size-heading-small);
  line-height: var(--typography-line-height-heading-small);
}

body {
  font-size: var(--typography-font-size-body-medium);
  line-height: var(--typography-line-height-body-medium);
}

.small {
  font-size: var(--typography-font-size-body-small);
  line-height: var(--typography-line-height-body-small);
  text-decoration-line: underline;
}

