.wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
}

.wrapper svg {
    height: 24px;
    width: 24px;
}

.theme-icon-container {
    width: 24px;
    height: 24px;
}

.theme-icon-visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 200ms ease-in-out;
}

.theme-icon-hidden {
    visibility: hidden;
    opacity: 0;
    transition: opacity 200ms ease-in-out;
}

.switch-root {
    all: unset;
    width: 40px;
    height: 20px;
    border-radius: 9999px;
    position: relative;
    background-color: var(--color-neutral-gray-3);
    -webkit-tap-highlight-color: var(--color-neutral-black);
}

.switch-root:hover {
    cursor: pointer;
}

.switch-root:focus {
    box-shadow: 0 0 0 2px black;
}

.switch-root[data-state='checked'] {
    background-color: var(--color-primary-purple);
}

.switch-thumb {
    display: block;
    width: 14px;
    height: 14px;
    background-color: white;
    border-radius: 9999px;
    transition: transform 100ms;
    transform: translateX(3px);
    will-change: transform;
}

.switch-thumb[data-state='checked'] {
    transform: translateX(23px);
}

.label {
    font-size: 15px;
    line-height: 1;
}