.wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.wrapper svg {
  width: 24px;
  height: 24px;
}

.theme-icon-container {
  width: 24px;
  height: 24px;
}

.theme-icon-visible {
  opacity: 1;
  transition: opacity 200ms ease-in-out;
  visibility: visible;
}

.theme-icon-hidden {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
  visibility: hidden;
}

.switch-root {
  all: unset;
  position: relative;
  width: 40px;
  height: 20px;
  border-radius: 9999px;
  background-color: var(--color-neutral-gray-3);
  -webkit-tap-highlight-color: var(--color-primary-purple);
}

.switch-root:hover {
  cursor: pointer;
}

.switch-root:hover>.switch-thumb {
  box-shadow: 0 0 0 10px hsl(var(--color-neutral-gray-3-hsl) / 30%);
}


.switch-root:focus {
  box-shadow: 0 0 0 2px var(--color-neutral-off-black);
}

.switch-root[data-state='checked'] {
  background-color: var(--color-primary-purple);
}

.switch-thumb {
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 9999px;
  background-color: white;
  transform: translateX(3px);
  transition: transform 100ms;
  will-change: transform;
}

.switch-thumb[data-state='checked'] {
  transform: translateX(23px);
}

.label {
  font-size: 15px;
  line-height: 1;
}

[data-theme='light'] .switch-root:focus {
  box-shadow: 0 0 0 4px hsl(var(--color-neutral-off-black-hsl) / 30%);
}

[data-theme='light'] .switch-root:hover>.switch-thumb {
  box-shadow: 0 0 0 10px hsl(var(--color-neutral-gray-3-hsl) / 30%);
}

[data-theme='dark'] .switch-root:focus {
  box-shadow: 0 0 0 4px hsl(var(--color-neutral-white-hsl) / 80%);
}

[data-theme='dark'] .switch-root:hover>.switch-thumb {
  box-shadow: 0 0 0 10px hsl(var(--color-primary-purple-hsl) / 30%);
}